.content {
    background: #fff;
    position: relative;
    min-height: 0;
    padding-bottom: 0;
}

a.add-prod {
    display: block;
    text-align: center;
    width: 200px;
    border: none;
    background: rgb(52, 52, 52);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    text-decoration: none;
}